DataHub/WebContent/wsdl/LoadDataHub.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.wbtc.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.wbtc.com" xmlns:intf="http://webservice.wbtc.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.wbtc.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="loadDataToDataHub">
    <complexType>
     <sequence>
      <element name="TransactionType" type="xsd:string"/>
      <element name="TransactionData" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loadDataToDataHubResponse">
    <complexType>
     <sequence>
      <element name="loadDataToDataHubReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loadPersonToDataHub">
    <complexType>
     <sequence>
      <element name="FirstName" type="xsd:string"/>
      <element name="LastName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loadPersonToDataHubResponse">
    <complexType>
     <sequence>
      <element name="loadPersonToDataHubReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="loadPersonToDataHubResponse">

      <wsdl:part element="impl:loadPersonToDataHubResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loadDataToDataHubRequest">

      <wsdl:part element="impl:loadDataToDataHub" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loadPersonToDataHubRequest">

      <wsdl:part element="impl:loadPersonToDataHub" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loadDataToDataHubResponse">

      <wsdl:part element="impl:loadDataToDataHubResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="LoadDataHub">

      <wsdl:operation name="loadDataToDataHub">

         <wsdl:input message="impl:loadDataToDataHubRequest" name="loadDataToDataHubRequest">

       </wsdl:input>

         <wsdl:output message="impl:loadDataToDataHubResponse" name="loadDataToDataHubResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loadPersonToDataHub">

         <wsdl:input message="impl:loadPersonToDataHubRequest" name="loadPersonToDataHubRequest">

       </wsdl:input>

         <wsdl:output message="impl:loadPersonToDataHubResponse" name="loadPersonToDataHubResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoadDataHubSoapBinding" type="impl:LoadDataHub">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="loadDataToDataHub">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loadDataToDataHubRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loadDataToDataHubResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loadPersonToDataHub">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loadPersonToDataHubRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loadPersonToDataHubResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoadDataHubService">

      <wsdl:port binding="impl:LoadDataHubSoapBinding" name="LoadDataHub">

         <wsdlsoap:address location="http://localhost:8081/DataHub/services/LoadDataHub"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
